import React from 'react';
import { BrowserRouter as Router, Route, Switch, Link } from 'react-router-dom';
{% for screen in screens %}
import { {{ screen.name }} } from './screens/{{ screen.name }}';
{% endfor %}

export function App() {
  return (
    <Router>
      <div>
        <nav>
          {% for screen in screens %}
          <Link to="/{{ screen.name|lower }}">{{ screen.name }}</Link>
          {% endfor %}
        </nav>

        <Switch>
          {% for screen in screens %}
          <Route path="/{{ screen.name|lower }}" component={ {{ screen.name }} } />
          {% endfor %}
        </Switch>
      </div>
    </Router>
  );
}
